<head><title></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/main/app.js"></script>
    <script type="text/javascript" src="/main/mainservices.js"></script>
</head>
<body>
<div ng-app="mainapp">
    <div ng-include="'/main/menu.html'"></div>
</div>
</body>